{% extends "base.html" %}

{% load static %}

{% block title %}
    ItemInfo
{% endblock title %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/style.css" %}"
{% endblock style %}

{% block content %}
    {{ block.super }}
    <h2>{{ single_item.name }}</h2>
        <div>
            Производитель :: {{ single_item.brand }}
        </div>
        <div>
            Описание товара :: {{ single_item.description }}
        </div>
        <div>
            Имеющиеся цвета ::
            {% if item_colors %}
            <ul class = "ul_no_mark">
                {% for color in item_colors %}
                    <li><div class ="div_color" style="background-color: {{ color.name }};"></div>&nbsp;&nbsp;
                        {{ color.name }}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            Данные о цветах отсутствуют
            {% endif %}
        </div>
        <div>
            Наличие на складе :: {{ single_item.count | default:"товар на складе отсутствует" }}
        </div>
        
    <br><br>
    <p><a href="{% url "list_of_items"%}">Назад к списку товаров</a></p>
{% endblock content %}